@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    width: 745px;
    border-radius: 30px;
    margin-left: 12px;
  }
  nav {
    visibility: hidden;
  }
  .top {
    max-width: 651px;
  }
  .slider {
    width: 650px;
  }
  .txt {
    width: 85vw;
    overflow: hidden;
  }
  .txt h1 {
    font-size: 45px;
    line-height: 1;
  }
  .txt p {
    width: 485px;
    margin-left: 90px;
  }
  .text-div {
    width: 750px;
  }
  .txt2 {
    width: 100vw;
  }
  .txt2 h2 {
    font-size: 42px;
  }
  .txt2 p {
    width: 625px;
    margin-left: 90px;
  }
  .txt4 {
    max-width: 100vw;
    position: relative;
    left: 0;
  }
  .txt4 h2 {
    font-size: 35px;
  }
  .flex-container {
    align-items: baseline;
    height: 950px;
    justify-content: space-around;
  }
  .ihi {
    width: 300px;
  }
  .heading04 h3 {
    font-size: 2.5rem;
  }
  .heading04 {
    margin-bottom: 190px;
  }
  .heading04 a {
    padding: 10px 102px;
  }
}

@media screen and (min-width: 375px) and (max-width: 480px) {
  header {
    width: 350px;
    border-radius: 30px;
    margin-left: 15px;
  }
  nav {
    visibility: hidden;
  }
  header h2 {
    margin-left: 20px;
  }
  .Btn {
    position: relative;
    right: 250px;
    line-height: 20px;
  }
  .txt {
    width: 90vw;
    margin-top: 150px;
  }
  .txt h1 {
    font-size: 33px;
    line-height: 40px;
  }
  .txt a {
    padding: 20px 50px;
  }
  .top {
    max-width: 340px;
  }
  .slider {
    width: 337px;
  }
  .txt2 {
    width: 90vw;
  }
  .txt2 h2 {
    font-size: 30px;
    line-height: 40px;
    margin-top: 50px;
  }
  .gird {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .box1,
  .box4 {
    width: 375px;
  }
  /* .box4{
    width: 375px;
  } */
  .box3,
  .box4 {
    justify-self: center;
  }
  .txt4 {
    left: 15%;
    width: 90vw;
  }
  .txt4 h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .max {
    margin-top: 30px;
  }
  .flex-container {
    width: 80vw;
    height: 1335px;
    margin: auto;
    align-items: flex-start;
  }
  .txt5 {
    text-align: center;
  }
  .text-div {
    width: 100vw;
  }
  .txt6 {
    width: 100%;
  }
  .txt6 a {
    padding: 15px 110px;
  }
  .grid2 {
    grid-template-columns: 1fr;
  }
  .ml h2 {
    font-size: 2.5rem;
    letter-spacing: normal;
  }
  .rang {
    column-count: 1;
  }
  .ihi {
    width: 115px;
  }
  .heading04 a {
    padding: 10px 40px;
  }
  marquee {
    margin-top: 50px;
  }
  .footer-maneu {
    flex-direction: column;
    gap: 20px;
  }
  .box2 img {
    padding-top: 15px;
  }
}
