* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #e7ffe5;
}
header {
  width: 800px;
  height: 55px;
  background-color: #ebe212;
  display: flex;
  justify-content: space-around;
  margin-left: 250px;
  position: fixed;
  top: 20px;
}
header h2 {
  background-color: #2b300e;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 8px;
}

.btn2 {
  font-family: Roobert, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ebe212;
}
header nav {
  margin-top: 18px;
}
header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  padding: 20px 12.5px;
  color: #222222;
}
.Btn {
  font-family: Roobert, sans-serif;
  font-size: 14px;
  font-weight: 600;
  /* line-height: 14px; */
  color: rgb(235, 226, 18);
}
.Btn h2 {
  border: 1px solid black;
  border-radius: 8px;
  background-color: #2b300e;
  padding: 7px 24px;
}
.txt {
  width: 50vw;
  height: 250px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
.txt h1 {
  font-family: Roobert, sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  color: rgb(43, 48, 14);
}
.txt p {
  font-family: Roobert, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  color: rgb(43, 48, 14);
  margin-bottom: 40px;
  margin-top: 15px;
}
.txt a {
  font-family: Roobert, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: rgb(231, 255, 229);
  padding: 20px 150px;
  background-color: #222222;
  border-radius: 10px;
}
.slider {
  width: 837px;
  height: 313px;
  background-color: #1b5ec9;
  margin-top: 150px;
  /* margin: auto; */
  border-radius: 10px;
}
.top {
  text-align: center;
  margin: auto;
  max-width: 840px;
}
.hed {
  text-transform: uppercase;
  background-color: #2b300e;
  font-family: Roobert, sans-serif;
  width: 210px;
  height: 70px;
  font-size: 29px;
  font-weight: 600;
  line-height: 65px;
  color: yellow;
  text-align: center;
  margin-top: 20px;
}
.tile {
  background-color: #000;
  color: yellow;
  font-size: clamp(16px, 2vw, 28px);
  font-weight: bold;
  padding: 10px 25px;
  margin: 10px 05px;
}
marquee {
  margin-top: 30px;
}
.txt2 {
  width: 62vw;
  margin: auto;
  text-align: center;
}
.txt2 h2 {
  font-family: Roobert, sans-serif;
  font-size: 56px;
  font-weight: 900;
  line-height: 56px;
  color: rgb(43, 48, 14);
}
.txt2 p {
  font-family: Roobert, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 20px;
  color: rgb(43, 48, 14);
}
.gird {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
.box1 {
  width: 384px;
  height: 250px;
  background-color: #4eb684;
  border-radius: 20px;
  justify-self: center;
}
.box1 h2 {
  /* background-color: #2b300e; */
  color: #ebe212;
  width: 150px;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 20px;
}
.hed1 {
  background-color: #2b300e;
  /* float: left; */
  /* width: 40px; */
}
.hed2 {
  position: relative;
  background: #2b300e;
  left: 72px;
}
.hed3 {
  background-color: #2b300e;
  position: relative;
  top: -43px;
  left: 222px;
  /* bottom: 10px; */
}
.box1 img {
  width: 315px;
  float: right;
  position: relative;
  top: -69px;
}
.box1 h3 {
  font-size: 18px;
  position: relative;
  top: -33px;
  left: 20px;
}

.box1 p {
  /* margin-bottom: 10px; */
  /* padding-bottom:10px ; */
  position: relative;
  top: -23px;
}

.box2 {
  background-color: #ebe212;
  width: 282px;
  height: 250px;
  border-radius: 20px;
  text-align: center;
  justify-self: center;
}
.box2 img {
  width: 150px;
  padding-top: 30px;
}
.box3 {
  width: 280px;
  height: 250px;
  background-color: #ebe212;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  justify-self: end;
}

.box3 img {
  width: 150px;
}
.box4 {
  background-color: #4eb684;
  width: 400px;
  height: 250px;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  grid-row: 4/2;
}
.box4 img {
  width: 375px;
  padding-top: 5px;
}
